# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# Production build
build/

# Local environment variables
.env 

# Miscellaneous
.DS_Store
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Test coverage
coverage/

# Lint caches
.eslintcache

# Temp files
*.tmp
*.temp
